on:
  workflow_dispatch:
    inputs:
      push:
        description: 'Push to RubyGems'
        required: false
        default: false
        type: boolean
  workflow_call:
    inputs:
      push:
        description: 'Push to RubyGems'
        required: false
        default: true
        type: boolean

  release:
    types:
      - released

env:
  MINIMUM_RUBY_VERSION: '3.0'
  RUBYGEMS_VERSION: '3.5.9'

permissions:
  contents: write
  pull-requests: write
  id-token: write

name: Release

jobs:
  ci-data:
    runs-on: ubuntu-latest
    name: Fetch CI data
    outputs:
      platforms: ${{ steps.platforms.outputs.platforms }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.MINIMUM_RUBY_VERSION }}
          bundler-cache: true
          rubygems: ${{ env.RUBYGEMS_VERSION }}
      - name: Install dependencies
        run: bundle install
      - name: Fetch Platforms
        id: platforms
        run: |
          platforms="$(bundle exec rake platforms[json])"
          echo "platforms=$platforms" >> $GITHUB_OUTPUT

  release:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.MINIMUM_RUBY_VERSION }}
          bundler-cache: true
          rubygems: ${{ env.RUBYGEMS_VERSION }}
      - name: Build plain gem
        run: bundle exec rake build
      - name: Upload plain gem
        uses: actions/upload-artifact@v4
        with:
          name: plain-gem
          path: pkg/*.gem
      - name: Configure trusted publishing credentials
        uses: rubygems/configure-rubygems-credentials@v1.0.0
      - name: Publish plain gem
        if: github.event_name == 'release' || inputs.push
        run: gem push pkg/*.gem


  release-native:
    runs-on: ubuntu-latest
    name: Build ${{ matrix.platform }}
    needs: ci-data
    strategy:
      matrix:
        platform: ${{ fromJSON(needs.ci-data.outputs.platforms) }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          prefix-key: v0-rust-${{ matrix.platform }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.MINIMUM_RUBY_VERSION }}
          bundler-cache: true
          rubygems: ${{ env.RUBYGEMS_VERSION }}
      - name: Build ${{ matrix.platform }} gem
        run: bundle exec rake gem:${{ matrix.platform }}
      - name: Upload ${{ matrix.platform }} gem
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-gem
          path: pkg/*.gem
      - name: Configure trusted publishing credentials
        uses: rubygems/configure-rubygems-credentials@v1.0.0
      - name: Publish ${{ matrix.platform }} gem
        if: github.event_name == 'release' || inputs.push
        run: gem push pkg/*.gem
